.register h3 {
    color: #ffffff;
    font-size: 300%;
    text-shadow: none;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: "Agency FB";
    margin-top: 10%;
    margin-bottom: 10%;
}
.register form {
    align-items: center;
    background-color: black;
    text-decoration: none;
    display:inline-block;
    padding-top: 20px;
    border-style: outset;
    border-color: red;
    padding-right: 40px;
    padding-left: 20px;
}
.button {
    font-weight: bold;
    padding: 0.2em;
    margin: 0.2em;
    border: 1px solid white;
    border-radius: 0.3em;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}